<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div class="container d-flex justify-content-center my-3">
        <div class="card">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 d-none d-sm-block d-md-block" >
                    <div class="w-100 h-100">
                        <img src="/static/images/register-background.jpeg" class="img-fluid w-100 h-100" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 d-flex align-items-center justify-content-center">
                    <div class="row">
                        <h3 class="mt-5 text-center col-12">Kayıt Ol</h3>
                        <form method="post" class="col-12">
                            <div class="">
                                <div class="mb-3 mt-5 mx-5">
                                    <label for="username" class="form-label mb-3">Ad Soyad</label>
                                    <input type="text" name="name" class="form-control">
                                </div>
                                <div class="mb-3 mt-5 mx-5">
                                    <label for="email" class="form-label mb-3">Kullanıcı adı</label>
                                    <input type="text" name="username" class="form-control">
                                    <% if (message) { %>
                                        <script type="text/javascript">
                                            alert("<%= message %>"); // message değişkenini JavaScript alert ile göster
                                        </script>
                                    <% } %>
                                </div>
                                <div class="mb-3 mt-5 mx-5">
                                    <label for="roomNumber" class="form-label mb-3">Oda Numarası</label>
                                    <input type="number" name="roomNumber" class="form-control">
                                </div>
                                <div class="mb-3 mt-5 mx-5">
                                    <label for="phone" class="form-label mb-3">Telefon Numarası</label>
                                    <input type="tel" name="phone" class="form-control">
                                </div>
                                <div class="mb-3 mt-5 mx-5">
                                    <label for="password" class="form-label mb-3">Password</label>
                                    <input type="password" name="password" class="form-control">
                                </div>
                                <div class="d-flex justify-content-center my-5">
                                    <button type="submit" class="btn btn-outline-dark d-block w-75">Kayıt Ol</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>