<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head') %>
</head>
<body data-bs-theme="dark">
    <%- include('../partials/admin-nav') %>
    <div class="container">
        <form method="post" class="justify-content-center d-flex">
            <div class="col-12 col-sm-8 col-md-8">
                <!-- Kullanıcı Adı -->
                <div class="mb-3 mt-5 mx-5">
                    <label for="username" class="form-label mb-3">Ad Soyad</label>
                    <input type="text" name="name" class="form-control" value="<%= user.name %>"> <!-- Kullanıcının mevcut adı burada gösteriliyor -->
                </div>
                
                <!-- username -->
                <div class="mb-3 mt-5 mx-5">
                    <label for="text" class="form-label mb-3">Kullanıcı Adı</label>
                    <input type="text" name="username" class="form-control" value="<%= user.username %>"> <!-- Kullanıcının mevcut emaili burada gösteriliyor -->
                </div>

                <!-- Şifre -->
                <div class="mb-3 mt-5 mx-5">
                    <label for="password" class="form-label mb-3">Password</label>
                    <input type="password" name="password" class="form-control" value=""> <!-- Mevcut şifreyi burada gösteriyoruz. (Not: Gerçek projelerde şifreyi şifrelenmiş olarak saklamak gerekir) -->
                </div>

                <!-- Düzenle Butonu -->
                <div class="d-flex justify-content-center my-5">
                    <button type="submit" class="btn btn-outline-light d-block w-75">Düzenle</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
