<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head') %>
</head>
<body data-bs-theme="dark">
    <%- include('../partials/admin-nav') %>
    <div class="container d-flex justify-content-center my-3">
        <table class="table ">
            <thead>
                <tr class="table-bordered">
                    <td>ID</td>
                    <td>Customer ID</td>
                    <td>Order Date</td>
                    <td>Status</td>
                    <td>Total Price</td>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>#1</td>
                    <td>#302948</td>
                    <td>10.10.2024 - 10.15</td>
                    <td>Hazırlanıyor</td>
                    <td>3000 ₺</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>