<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head') %>
</head>
<body data-bs-theme="dark">
    <%- include('../partials/admin-nav') %>
    <div class="container d-flex justify-content-center my-3">
        <table class="table ">
            <thead>
                <tr class="table-bordered">
                    <td>ID</td>
                    <td>Ad Soyad</td>
                    <td>Email</td>
                    <td>Oda Numarası</td>
                    <td>Telefon Numarası</td>
                    <td>Oluşturma Tarihi</td>
                    <td></td>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>#47384</td>
                    <td>Koray Yalçın</td>
                    <td>koray@gmail.com</td>
                    <td>123</td>
                    <td>+90555 444 3311</td>
                    <td>10.10.2024 - 10.15</td>
                    <td>
                        <a href="/admin/user/edit/1" class="btn btn-outline-warning">Edit</a>
                        <a href="/admin/user/delete/1" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>