<div id="content" class="mx-md-5  d-flex flex-column">
    <div class="border w-75 ms-auto p-2 rounded mb-3 bg-dark">Merhaba size nasıl yardımcı olabilirim?</div>
</div>

<div class="row mx-md-5">
    <div class="col-6 btn btn-dark border">
        <form action="" method="get"></form>
    </div>
    <div class="col-6 btn btn-dark border">b</div>
</div>