<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head'), {name: name, roomNumber: roomNumber} %>
    <style>
        html {
            scroll-behavior: smooth;
        }

    </style>
</head>
<body data-bs-theme="dark">
    <%- include('../partials/nav') %>
    <div class="container">
        <input type="hidden" name="userid" id="userid" value="<%= userid %>">
        <hr style="margin-top: 5rem;">
        
        <div class="mx-md-5  d-flex flex-column">
            <div class="border w-75 ms-auto p-2 mb-3 rounded bg-dark">Merhaba <b><%= name %></b> size nasıl yardımcı olabilirim?</div>
        </div>
        
        <div class="row mx-md-5 mb-3 justify-content-center">
            <button class="col-5 btn btn-dark border mx-1" id="menu">
                    Menü
            </button>
            <button class="col-5 btn btn-dark border mx-1" id="servis">
                    Oda Servisi
            </button>
        </div>
        

        <div id="content">
            
        </div>

        <div class="d-flex justify-content-center align-items-center position-fixed bottom-0 start-50 translate-middle-x pb-3 bg-dark" id="entry-input">
            <input type="text" id="mesaj" class="form-control border-warning-subtle py-3">
            <button id="mesajButton" class="input-group-text px-3 py-3 btn btn-outline-warning"><i class="bi bi-arrow-up"></i></button>
            <button id="bellekCleanButton" class="input-group-text px-3 py-3 btn btn-outline-info">Bellek Temizle</button>
        </div>
    </div>

    <script src="/static/js/home.js"></script>
    
</body>
</html>