<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head') %>
    <style>
        html {
            scroll-behavior: smooth;
        }

    </style>
</head>
<body data-bs-theme="dark">
    <div class="container">
        <%- include('../partials/nav') %>

        <hr style="margin-top: 5rem;">


        <%- include('../partials/content') %>

        <div class="d-flex justify-content-center align-items-center position-fixed bottom-0 start-50 translate-middle-x pb-3 bg-dark" id="entry-input">
            <input type="text" class="form-control border-warning-subtle py-3" aria-label="Dollar amount (with dot and two decimal places)">
            <button class="input-group-text px-3 py-3 btn btn-outline-warning"><i class="bi bi-arrow-up"></i></button>
        </div>
    </div>

    <!--  Yeni bir mesaj gönderildiğinde veya alındığında sayfanın en altına gitmesini sağlamak için kullanılır. -->
    <script>
        window.onload = function() {
            window.scrollTo(0, document.body.scrollHeight);
        };
    </script>    
</body>
</html>